# NumPy Exercises

Bu zamana kadar gördüğümüz konularla alakalı bilgilerimizi test edelim

<div class="alert alert-danger" style="margin: 10px"><strong>Uyarı!</strong> Output'un üstündeki kod hücrelerini çalıştırmayın !, <br>Aksi takdirde notebooktaki cevap outputlarını kaybedebilirsiniz!</div>

#### 1. NumPy kütüphanesi np kısaltması ile import edin

In [ ]:
import numpy as np

#### 2. 10 tane 0 değerinden oluşan bir array oluşturun

In [ ]:
# Kodlarını buraya yaz

arry = np.linspace(start=0, stop=0, num=10,  dtype=float)
arry

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [ ]:
# Bu hücreye kod yazıp çalıştırma !

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

#### 3. 10 tane 1 değerinden oluşan bir array oluşturun

In [ ]:
arry = np.linspace(start=1, stop=1, num=10,  dtype=float)
arry

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [ ]:
# Bu hücreye kod yazıp çalıştırma !

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

#### 4. 10 tane 5 değerinden oluşan bir array oluşturun

In [ ]:
arry = np.linspace(start=5, stop=5, num=10,  dtype=float)
arry

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

In [ ]:
# Bu hücreye kod yazıp çalıştırma !

array([5., 5., 5., 5., 5., 5., 5., 5., 5., 5.])

#### 5. 10'dan 50'ye kadar(10 ve 50 dahil) ardışık tam sayılardan oluşan bir array oluşturalım

In [ ]:
arry = np.arange(start=10, stop=51,  dtype=int)
arry

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

In [ ]:
# Bu hücreye kod yazıp çalıştırma !

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

#### 6. 10 ve 50 arasındaki çift tam sayılardan oluşan bir array oluşturalım. (10 ve 50 dahil)

In [ ]:
arry = np.arange(start=10, stop=51,  dtype=int, step = 2)
arry

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

In [ ]:
# Bu hücreye kod yazıp çalıştırma !

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

#### 7. 3x3 shape'inde 0'dan 8'e kadar toplam 9 tam sayıdan oluşan bir array oluşturalım

In [ ]:
arry = np.arange(start=0, stop=9,  dtype=int, step = 1).reshape(3,3)
arry

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [ ]:
# Bu hücreye kod yazıp çalıştırma !

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

#### 8. 3x3 boyutlarında birim matris oluşturun

In [ ]:
arry = np.identity(3)
arry

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
# Bu hücreye kod yazıp çalıştırma !

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

#### 9. NumPy kullanarak 0-1 arasından rastgele bir sayı oluşturun. <br><br>&emsp;NOT: Değerler random seçildiği için sizin sonucunuz aşağıdaki çıktıdan farklı olacaktır

In [ ]:
a = np.random.uniform(low=0, high=1, size=(1,))
a

array([0.96191672])

In [ ]:
# Bu hücreye kod yazıp çalıştırma !

array([0.65248055])

#### 10. NumPy kullanarak standart dağılıma sahip 25 random sayıdan oluşan bir array oluşturalım. <br><br>&emsp;&ensp;NOT: Sizin cevabınız aşağıdaki çıktıdan farklı olacaktır

In [ ]:
arry = np.random.normal(size=(25))
print(arry)

arry = np.random.standard_normal(size=(25))
print(arry)

[-1.60578597 -0.8354683  -0.52045605  1.03306731  1.06119802 -0.59579259
 -1.22579113 -0.8803668   0.68728049  0.79985327  0.32866556  1.03009694
 -0.00779616  0.85586246  0.95600841 -0.02913792  0.74906849  0.33026223
  0.26981593  1.26110309 -0.30177345 -1.61458185 -0.9215656  -0.19154975
 -1.9280877 ]
[ 0.5055937   0.71057843 -0.22351294 -1.54887877 -0.36541056 -0.5583167
  1.07706626 -0.88972844 -0.41593849 -0.53300989  3.5393985  -0.69425791
 -1.16903175  1.47985646  1.05025588 -0.05584756  1.16036312 -0.29874144
  0.95413226  0.13443636  1.40773479 -0.9141246  -1.10696922  0.51880246
  1.38319175]

In [ ]:
# Bu hücreye kod yazıp çalıştırma !

array([ 1.80076712, -1.12375847, -0.98524305,  0.11673573,  1.96346762,
        1.81378592, -0.33790771,  0.85012656,  0.0100703 , -0.91005957,
        0.29064366,  0.69906357,  0.1774377 , -0.61958694, -0.45498611,
       -2.0804685 , -0.06778549,  1.06403819,  0.4311884 , -1.09853837,
        1.11980469, -0.48751963,  1.32517611, -0.61775122, -0.00622865])

#### 11. Aşağıdaki çıktıdakine benzer array'i oluşturmaya çalışın

In [ ]:
arry = np.linspace(start=0.01, stop=1, num=100,  dtype=float).reshape(10,10)
arry

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

In [ ]:
# Bu hücreye kod yazıp çalıştırma !

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

#### 12. 0-1 arasında lineer artış gösteren ve 20 sayıdan oluşan bir array oluşturun:

In [ ]:
arry = np.linspace(start=0, stop=1, num=20,  dtype=float)
arry

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

In [ ]:
# Bu hücreye kod yazıp çalıştırma !

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

## NumPy Indexing and Selection

Aşağıdaki matris sıradaki sorular için bizim başlangıç matrisimiz. (Aşağıdaki kod hücresini çalıştırarak devam edin.), devamında sorduğumuz soruları cevaplamaya çalışın:

In [ ]:
# RUN THIS CELL - THIS IS OUR STARTING MATRIX
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

#### 13. Aşağıda verilen matrisleri oluşturmaya çalışın.<br><br>&emsp;&ensp;Çıktıların üstündeki kod hücresini çalıştırmayın, aksi takdirde çıktıları göremezsiniz

In [ ]:
# Kodlarınızı buraya yazın

mat[2:5,1:5]

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

In [ ]:
# Bu hücreye kod yazıp çalıştırma !

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

#### 14. Write code that reproduces the output shown below.

In [ ]:
mat[3][4]

20

In [ ]:
# Bu hücreye kod yazıp çalıştırma !

20

#### 15. mat arrayini kullanarak aşağıdaki matris çıktısını verecek kodları oluşturun

In [ ]:
mat[0:3,1:2]

array([[ 2],
       [ 7],
       [12]])

In [ ]:
# Bu hücreye kod yazıp çalıştırma !

array([[ 2],
       [ 7],
       [12]])

#### 16. mat arrayini kullanarak aşağıdaki matris çıktısını verecek kodları oluşturun

In [ ]:
mat[4]

array([21, 22, 23, 24, 25])

In [ ]:
# Bu hücreye kod yazıp çalıştırma !

array([21, 22, 23, 24, 25])

#### 17. mat arrayini kullanarak aşağıdaki matris çıktısını verecek kodları oluşturun

In [ ]:
mat[3:5,0:5]

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [ ]:
# Bu hücreye kod yazıp çalıştırma !

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

## NumPy Operations

#### 18. Mat arrayindeki bütün değerlerin toplamını bulun

In [ ]:
mat.sum()

325

In [ ]:
# Bu hücreye kod yazıp çalıştırma !

325

#### 19. Mat arrayindeki değerlerin standart sapmasını bulun

In [ ]:
mat.std()

7.211102550927978

In [ ]:
# Bu hücreye kod yazıp çalıştırma !

7.211102550927978

#### 20. Mat arrayindeki her sütunun kendi içinde toplamlarını bularak yeni bir array oluşturun

In [90]:
arry = []

for i in np.transpose(mat):
  arry.append(i.sum())

arry

[55, 60, 65, 70, 75]

In [ ]:
# Bu hücreye kod yazıp çalıştırma !

array([55, 60, 65, 70, 75])

# Tebrikler, NumPy temelleri öğrenilmiş!